body {
    background-color: beige;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.success {
    font-size: 70px;
    color: rgb(24, 238, 16);
}
.failure {
    font-size: 70px;
    color: red;
}
